.Board {
  display: grid;
  grid-template-columns: repeat(9, 50px); /* 10 columns each 50px wide */
  grid-template-rows: repeat(9, 50px); /* 10 rows each 50px tall */
  grid-gap: 0; /* No gap between cells */
}
